html, body {
	font: 15px 'Libre Franklin', sans-serif;
}
.container {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.header {
	border-bottom: 4px solid #8080804f;
}
.header h1 {
	font-size: 3em;
}
.header h3, .header p {
	margin: 0 0 5px 0;
}
button {
	margin: 20px 0;
	font: bold 17px 'Libre Franklin', sans-serif;
	padding: 5px 20px;
	background: #3185EA;
	color: white;
	border: 1px solid transparent;
	border-radius: 8px;
	box-sizing: border-box;
	cursor: pointer;
}
button:hover {
	background: white;
	color: #3185EA;
	border-color: #3185EA;
}
button:focus {
	outline: none;
}
.grid {
	height: 574px;
	width: 574px;
	border: 4px solid black;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.square {
	border-right: 4px solid grey;
	border-bottom: 4px solid grey;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.sq2, .sq5, .sq8 {
	border-right: none;
}
.sq6, .sq7, .sq8 {
	border-bottom: none;
}
.tile {
	border-right: 1px solid #000000bd;
	border-bottom: 1px solid #000000bd;
	font-size: 2.7em;
	font-weight: bold;
	padding: 5px;
	cursor: default;
}
.focus {
	background-clip: content-box;
	box-shadow: inset 0 0 0 5px #f1ea5d;
}
.t2, .t5, .t8 {
	border-right: none;
}
.t6, .t7, .t8 {
	border-bottom: none;
}