* {
	box-sizing: border-box;
}
html, body {
	font: 15px 'Libre Franklin', sans-serif;
}
.container {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.header {
	border-bottom: 4px solid #8080804f;
	margin: 0 30px;
}
.header h1 {
	font-size: 3em;
}
.header h3, .header p {
	margin: 0 0 5px 0;
}
.buttons {
	margin-right: 138px;
}
.buttons p {
	visibility: hidden;
	display: inline-block;
}
button {
	margin: 20px 10px;
	font: bold 17px 'Libre Franklin', sans-serif;
	padding: 5px 20px;
	background: #3185EA;
	color: white;
	border: 1px solid transparent;
	border-radius: 8px;
	box-sizing: border-box;
	cursor: pointer;
}
button:hover {
	background: white;
	color: #3185EA;
	border-color: #3185EA;
}
button:focus {
	outline: none;
}
#reset-button {
	font-size: 12px;
	padding: 3px 15px;
	border-radius: 5px;
	background: white;
	color: #3185EA;
	border-color: #3185EA;
}
#reset-button:hover {
	background: #3185EA;
	color: white;
	border-color: transparent;
}
.grid {
	width: 95vw;
	height: 95vw;
	max-width: 574px;
	max-height: 574px;
	border: 4px solid black;
	display: flex;
	flex-wrap: wrap;
}
.square {
	border-right: 4px solid grey;
	border-bottom: 4px solid grey;
	width: 33.333%;
	display: flex;
	flex-wrap: wrap;
}
.sq2, .sq5, .sq8 {
	border-right: none;
}
.sq6, .sq7, .sq8 {
	border-bottom: none;
}
.tile {
	display: block;
	width: 33.333%;
	border-right: 1px solid #000000bd;
	border-bottom: 1px solid #000000bd;
	font-size: 2.7em;
	font-weight: bold;
	padding: 5px;
	cursor: default;
	text-align: center;
}
.t2, .t5, .t8 {
	border-right: none;
}
.t6, .t7, .t8 {
	border-bottom: none;
}
.focus {
	background-clip: content-box;
	box-shadow: inset 0 0 0 5px #f1ea5d;
}